@import "tailwindcss";

@import "@yz13/ui/globals.css";

@source "../../node_modules/@yz13/ui";


.font-pixel {
  font-family: var(--font-pixel), sans-serif;
}


.inter-sans {
  --font-sans: "Inter", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.pixelify-sans {
  --font-pixel: "Pixelify Sans", sans-serif;
  /* font-family: "Pixelify Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.jetbrains-mono {
  --font-mono: "JetBrains Mono", monospace;
  /* font-family: "JetBrains Mono", monospace; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dashed-line {
  flex: 1 1 0;
  min-height: 6px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, transparent 4px, var(--color-border) 5px, var(--color-border) 6px);
  background-repeat: repeat-x;
  background-size: 6px 1px;
  background-position: 0 48%;
}


.infinite-scroll-track {
  --duration: 20s;
  display: flex;
  animation: scroll-horizontally var(--duration) linear infinite;
  white-space: nowrap;
  will-change: transform;
  /* Добавляем свойства для более плавной анимации */
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* Убираем возможные рывки */
  transform: translateZ(0);
}

/* Контейнер с градиент маской для плавного появления/исчезновения */
.infinite-scroll-container {
  mask: linear-gradient(90deg,
      transparent 0%,
      var(--background) 10%,
      var(--background) 90%,
      transparent 100%);
  -webkit-mask: linear-gradient(90deg,
      transparent 0%,
      var(--background) 10%,
      var(--background) 90%,
      transparent 100%);
}

/* Рассчитайте duration так: чем больше значение - тем медленнее анимация */
@keyframes scroll-horizontally {
  0% {
    transform: translateX(0) translateZ(0);
  }

  100% {
    transform: translateX(-50%) translateZ(0);
    /* Смещаем на половину ширины контента для двух наборов */
  }
}
